.weather-forecast-container {
  display: flex;
  justify-content: space-between; 
  padding: 10px;
  background-color: #333; 
  justify-content: center;
}

.weather-forecast {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #333; 
  text-align: center;
  color: #fff; 
  flex-wrap:
  margin: 0 10px; 
}

.weather-card img {
  max-width: 50px;
}

.weather-card span {
  font-weight: bold;
}

.weather-card h2 {
  margin-bottom: 10px;
}

.weather-card p {
  margin: 5px 0;
}

.root {
    display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
display: flex;
  justify-content: center;
  color: #fff;
}

body {
    display: flex;
    background-color: #1e1e1e; 
    justify-content: center;
}

#root {
    font-display: flex;
    background-color: #333;
    padding: 100px 200px 180px 150px;
}